{% extends "base.html.twig" %}

{% block title %}Currencies{% endblock %}

{% block body %}
    
    <h2>{% trans %}Devise{% endtrans %} : </h2>
    {% for currency in currencies %}
        <ul>
            <li><a href="{{ path('currency_show', {'id' : currency.id}) }}">{{currency.name}}</a>&nbsp;<u>{{currency.shortName}}({{currency.abbreviation}})</u></li>
        </ul>
    {% endfor %}
{% endblock %}