{% extends "base.html.twig" %}

{% block title %}Currency{% endblock %}

{% block body %}
    <ul>
        <li>{{currency.name}}&nbsp;<i>{{currency.shortName}}</i>({{currency.abbreviation}})</li>
    </ul>
{% endblock %}