{% extends "base.html.twig" %}

{% block title %}Trading transactions{% endblock %}

{% block body %}
{% set urlTransaction = path('transaction_show')  %}
<a href="/trading/currencies">Show currencies</a>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
            <th scope="col">Portefolio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><a href="{{urlTransaction}}">Achat</a></th>
            <td>Air Liquid</td>
            <td>300.15€</td>
            <td>3</td>
            <td>100.05</td>
            <td>PEA Boursorama</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th scope="row"><a href="{{urlTransaction}}">Achat</a></th>
            <td>Axa</td>
            <td>300.15€</td>
            <td>3</td>
            <td>100.05</td>
            <td>PEA Boursorama</td>
        </tr>
    </tbody>
    <tbody>
        <tr >
            <th scope="row"><a href="{{urlTransaction}}">Achat</a></th>
            <td>Danone</td>
            <td>300.15€</td>
            <td>3</td>
            <td>100.05</td>
            <td>PEA Boursorama</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th scope="row"><a href="{{urlTransaction}}">Achat</a></th>
            <td>Microsoft</td>
            <td>300.15€</td>
            <td>3</td>
            <td>100.05</td>
            <td>PEA Boursorama</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th scope="row"><a href="{{urlTransaction}}">Achat</a></th>
            <td>LVMH</td>
            <td>300.15€</td>
            <td>3</td>
            <td>100.05</td>
            <td>PEA Boursorama</td>
        </tr>
    </tbody>
</table>
{% endblock %}