{% extends "base.html.twig" %}

{% block title %}FacilEpargne{% endblock %}

{% block body %}
    <div class="mt-3">
        <div class="jumbotron">
            <h1>Bienvenue sur FacilEpargne !</h1>
            <p>
                FacilEpargne est un projet de développement Web pour faciliter la tenue des comptes bancaires, des transactions boursières et autres...
            </p>
            <hr class="my-4">
            <p>
                Utilisez ce site comme une aide, comme un centralisateur de tous vos comptes, revenus et placements.
            </p>
        </div>
    </div>
    <h2>Les meilleurs placements du moment</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="car-header text-center">
                    Immobilier avec les <strong>SCPI</strong> <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image d'une SCPI" style="height: 200px; width: 100%; display: block">
                <div class="car-body">
                    <h4 class="card-title">
                        Belle SCPI
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, architecto ratione. Ex ipsum consequuntur qui laboriosam est deserunt fugiat id.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="car-header text-center">
                    Immobilier avec les <strong>SCPI</strong> <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image d'une SCPI" style="height: 200px; width: 100%; display: block">
                <div class="car-body">
                    <h4 class="card-title">
                        Belle SCPI
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, architecto ratione. Ex ipsum consequuntur qui laboriosam est deserunt fugiat id.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="car-header text-center">
                    Immobilier avec les <strong>SCPI</strong> <br>
                    <small>Pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image d'une SCPI" style="height: 200px; width: 100%; display: block">
                <div class="car-body">
                    <h4 class="card-title">
                        Belle SCPI
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, architecto ratione. Ex ipsum consequuntur qui laboriosam est deserunt fugiat id.
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
