@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/fontawesome';

/* Put here some perso css style */
.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    border-style: outset;
    border-color: lightblue;
    border-width: thick;
}

.avatar-min {
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
}