<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="car-header text-center">
            Les opérations du <strong>{{accountingMonth.activeMonth}}</strong> <strong>{{accountingMonth.activeYear}}</strong><br>
            <small>Positif ou négatif ?</small>
        </div>
        <div class="car-body">
            <h4 class="card-title">
                {% if accountingMonth.operations|length > 0 %}
                    {{accountingMonth.operations|length}} opérations
                {% else %}
                    Pas d'opération pour ce mois-là.
                {% endif %}
            </h4>
            <p class="card-text">
                Quelques opérations...
            </p>
            <a href="#" class="btn btn-secondary">Afficher !</a>
        </div>
    </div>
</div>