{% extends "base.html.twig" %}

{% block title %}Créer une opération{% endblock %}

{% block budget_active %}active{% endblock %}

{% block body %}
    <h1>Création d'une opération</h1>

    {{ form_start(formOperation) }}
    {{ form_widget(formOperation) }}
    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Modifier
        {% else %}
            Enregistrer
        {% endif %}
    </button>
    {{ form_end(formOperation) }}
{% endblock %}