{% extends "base.html.twig" %}

{% block title %}Opération{% endblock %}

{% block budget_active %}active{% endblock %}

{% block body %}
    <h1>Ceci est un test : {{operation.name}}</h1>
{% endblock %}