<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="h-100">
        <!-- Header -->
        {{ include('partials/_header.html.twig') }}
        <!-- /Header -->

        <!-- Body -->
        <div class="container-fluid">
            <div class="row no-gutters row-full-height">
                <div class="col">
                    <div class="container">
                        <!-- Permet d'afficher des pop-up de succès juste avant l'affichage de notre page -->
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
                <!-- /Body -->
            </div>
        </div>
        

        <!-- Footer -->
        {{ include('partials/_footer.html.twig') }}
        <!-- /Footer -->

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
